{% extends 'base.html' %}

{% block content %}
<section class="bg-dark text-light text-center">
    <div class="container p-5 bg-dark">
        <div class="row">
            <div class="d-md-flex bg-dark align-items-center justify-content-evenly">
                <h1 class="col text-center" style="color: red; margin-left: 20%; font-size: 3em;" ><br>JonJons Autoplex</h1>
                <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 
    <dotlottie-player src="https://lottie.host/6ebe5fd3-4047-4db0-8447-81f4d76701ee/t6udjrqqK1.json" background="white" 
    speed="1" style="width: 200px; height: 300px; padding-top: 10%;" loop autoplay></dotlottie-player>
            </div>
        </div>
    </div>
</section>
<section class="bg-dark text-center text-light">
    <div class="container p-0">
        <div class="row">
            <h1>Welcome to JonJons AutoPlex. We are dedicated to bringing you the best exerience.</h1>
            <div class="">
                <img src="../../static/images/carlot_img.png" alt="" style="height: 50%;">
                <h3>To order a 1 of 1 please hit the <span style="color: rgb(36, 103, 247);">Contact Us</span> tab on the navigation bar</h3>
            </div>
        </div>
    </div>
</section>

{% endblock %}

