.topnav a:hover {
    border-bottom: 3px solid red;
}
/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .fa-bars,
.navbar-scroll .navar-brand {
  color: #4f4f4f;
}

.navbar-scroll .nav-link:hover {
  color: #1266f1;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .fa-bars,
.navbar-scrolled .navar-brand {
  color: #4f4f4f;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
    background-image: linear-gradient( to right, rgba(27, 28, 29, 0.527), rgb(240, 229, 240));
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
  padding-top: 5px;
  padding-bottom: 5px;
}

body {
  background-color: #eee;
}

/* .logo {
  margin-right: 75%;
  border: red 1 px solid !important ;
  align-self: flex-start;
} */



.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 10%;
}